* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Outfit", sans-serif;
}

body,
html {
  background-color: #ece0d1;
}

.background {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 2.5rem;
  margin-left: 29rem;
  margin-right: 29rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  height: 100%;
  padding: 2rem;
}

.image img {
  width: 100%;
  height: auto;
  border-radius: 1.5rem;
}

.description h1 {
  font-size: 50px;
  text-align: left;

  padding-top: 0.5rem;
}

.description p {
  font-size: 14px;
  padding-top: 0.5rem;
  margin-right: 6rem;
  padding-bottom: 1rem;
}

.prep-background {
  background-color: #ffe9f0;
  width: 100%;
  border-radius: 1.5rem;
  height: 10rem;
}

.preparation {
  padding-left: 2.5rem;
  padding-top: 1rem;
}

.preparation h1 {
  padding-bottom: 1rem;
  color: #8300c4;
  font-size: 20px;
}

.preparation ul {
  display: grid;
  gap: 1rem;
}

.ingredients-background {
  background-color: white;
  width: 100%;
  padding-bottom: 1rem;
}

.ingredients {
  padding-top: 2rem;
}

.ingredients h1 {
  padding-bottom: 1rem;
  color: #956437;
}

.ingredients ul {
  display: grid;
  gap: 1rem;
}

.instructions-background {
  background-color: #f0f0f0;
  width: 100%;
  padding: 2rem;
  border-radius: 1.5rem;
  margin-top: 2rem;
}

.instruction h1 {
  color: #956437;
  padding-bottom: 1rem;
}

.instruction ul {
  display: grid;
  gap: 1rem;
}

.instruction strong {
  color: #65737e;
}
.instruction strong::after {
  content: ":";
  white-space: pre;
}

.nutrition-background {
  width: 100%;
  padding-top: 2rem;
}

.nutrition h1 {
  color: #956437;
}

.nutrition p {
  padding-top: 2rem;
}

.info {
  width: 100%;
}
.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.info-content {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.info-row p {
  color: #956437;
  padding: 0;
}

.info-row hr {
  width: 100%;
  border: none;
  border-top: 1px solid #e0e0e0;
  margin: 0.5rem 0;
}
